<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="home">Servicios Agile Networks</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="newclient" >Crear Cliente
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="viewclient">Ver Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="newcontact">Crear Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="viewcontact">Ver Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="newequip">Crear Equipo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="viewequips">Ver Equipos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="newserv">Crear Servicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="viewserv">Ver Servicios</a>
          </li>
         
        </ul>
      
      </div>
    </div>
  </nav>