<div class="container md">
    <div>
      <h3>Contactos</h3>
    </div>
    
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Telefono</th>
                <th scope="col">Empresa</th>
                <th scope="col">Acciones</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-active" *ngFor="let contacto of contact  ">
                <th scope="row">{{contacto.nombre }} {{ contacto.apellido}} </th>
                <td>{{contacto.correo}}</td>
                <td>{{contacto.telefono}}</td>
                <td>{{contacto.cliente.empresa}}</td>
                <td><button type="button" routerLink="/editcontact/{{contacto.id}}" class="btn btn-dark">Editar</button></td>
                <td><button  type="button" routerLink="/newequip" class="btn btn-primary">Crear equipo </button></td>
              </tr>
            </tbody>
          </table>
        
        </div>