<div class="container md">
<div>

  <h3>{{operacion }} Equipos</h3>
</div>
    
    <form  [formGroup]="form" >
    <div >
      <label >Marca del Equipo</label>
      <input type="text" class="form-control" name="marca" id="marca" formControlName="marca" aria-describedby="emailHelp" placeholder="Epson, Duplo, Cyklos...">
      <small id="equipo" class="form-text text-muted">Marca del Equipo</small>
    </div>
    
    <div >
        <label >Modelo del Equipo</label>
        <input type="text" class="form-control" name="modelo" id="modelo" formControlName="modelo" aria-describedby="emailHelp" placeholder="Ingrese el Modelo">
        <small id="emailHelp" class="form-text text-muted">Modelo del Equipo</small>
      </div>
      <div >
        <label >Serial Del Equipo</label>
        <input type="text" class="form-control" name="serial" id="serial" formControlName="serial" aria-describedby="emailHelp" placeholder="S/N:3123435aaa">
        <small id="emailHelp" class="form-text text-muted">Serial del equipo</small>
      </div>
      <div >
        <label >Contador</label>
        <input type="number" class="form-control" name="contador" id="contador" formControlName="contador" aria-describedby="emailHelp" placeholder="123123123" >
        <small id="emailHelp" class="form-text text-muted">Numero de usos impresiones o ciclos</small>
      </div>
      <div class="form-group">
        <input hidden type="number"   value="{{form.value.contacto}}"   formControlName="contacto"  name="contacto"  >
        <select class="form-control" onchange="this.form.contacto.value=this.value"  (change)="onSelect($event.target.value)">
          <option>Seleccione Cliente</option>
        <option *ngFor="let contacto of contactos |async  " value={{contacto.id}}>
      {{contacto.nombre}}  {{contacto.apellido}}   <strong>|| {{contacto.cliente.empresa}}  ||</strong>
      <input  name="id" id="id" value={{contacto.id}}>
        </option>
      </select>
      </div>
    
    <button type="button"  (click)="createEquip()" class="btn btn-primary">{{operacion}}Equipo</button>
  </form>

  
</div>
