<div class="container md">

    <h3>{{operacion}} Cliente</h3>

    <div class="container-sm">
      
      <form [formGroup]="form" (ngSubmit)="createClient()" >
          <div class="form-group">
          <label for="exampleInputEmail1">Nombre de la Empresa</label>
          <input type="text"  class="form-control" formControlName="empresa"  placeholder="Empresa" >
          <small id="emailHelp" class="form-text text-muted">Nombre Cliente.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Rut</label>
            <input type="text"class="form-control" class="form-control" formControlName="rut" aria-describedby="emailHelp" placeholder="12345678-9" >
            <small id="emailHelp" class="form-text text-muted">Rut sin puntos con gion.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Direccion</label>
            <input type="text" class="form-control" formControlName="direccion"  placeholder="Calle Numero Comuna Ciudad" >
            <small id="emailHelp" class="form-text text-muted">Av Siempre Viva 742 Sprintfield Region Metropolitana.</small>
          </div>
       
       <button  type="submit" class="btn btn-primary">{{operacion}}</button>
       
      </form>
     
      
 </div>
</div>